* {
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 212, 212);
}

.table {
    display: table;
    border: 1px solid rgb(240, 8, 8);
    width: 214px;
    height: 208px;
    margin: 50px auto 5px;
    padding: 4px;
    box-shadow: inset 1px 1px 7px red;
    border-spacing: 1px 1px;
}

.tr {
    display: table-row;
    height: 40px;
    padding-top: 3px;
    margin: 5px;
}

[data-table='td'] {
    background-color: img/otter/jpgfff;
    display: table-cell;
    border: 1px solid black;
    padding: 10px 15px;
    width: 50px;
    height: 40px;

}

.yellow {
    background-color: yellow;

}

.orange {
    background-color: orange;

}

.red {
    background-color: red;

}

.green {
    background-color: rgb(63, 230, 21);

}

.click {
    display: flex;
    margin: auto;
    background-color: rgb(182, 187, 187);
    border-radius: 23px;
    border: 1px solid black;
    font-size: 12px;
}

.click:hover {
    transform: scale(1.1);
    transition: 0.3s;
}